{% extends 'base.html.twig' %}

{% block title %}Rezepte - CookingRecipes{% endblock %}

{% block body %}
<section class="hero">
    <div class="container">
        <h1>Unsere Rezepte</h1>
        <p class="hero-subtitle">Entdecke leckere Gerichte zum Nachkochen</p>
    </div>
</section>

<div class="container">
    <twig:RecipeList />
</div>
{% endblock %}
